# Remote airbyte (Postgres externo)
REMOTE_PG_HOST=your_remote_host
REMOTE_PG_PORT=5432
REMOTE_PG_NAME=airbyte_db
REMOTE_PG_USER=airbyte_user
REMOTE_PG_PASSWORD=airbyte_pass
REMOTE_PG_SCHEMA=airbyte
REMOTE_PG_SSLMODE=require

# dbt target schema for now
DBT_TARGET_SCHEMA=public

# Prefect (local server)
PREFECT_API_URL=http://prefect_server:4200/api
